body {
    text-align: center;
    background: url("../bg.jpg");
}
form{
    background: antiquewhite;
    width: 500px;
    margin-left: 30%;
    margin-right: 30%;
}
form label {
    display: block;
}