body {
    text-align: center;
    background: url("../bg.jpg");
}
form, #results {
    background: antiquewhite;
    width: 500px;
    margin-left: 30%;
    margin-right: 30%;
}
form label {
    display: block;
}
table, td {
    border: 2px solid black;
    border-collapse: collapse;
}