<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Возьми кредит</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/js/jquery-3.4.1.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/CSS/styles.css"
          media="all" data-th-href="@{/CSS/styles.css}"/>
</head>
<body>
    <header>
    <h2>ООО ИГОГО КБ "Понячка"</h2>
    <h3>Лучший понячий банк Санкт-Петербурга</h3>
    </header>
    <h1>Здесь вы можете оставить заявку на кредит</h1>

    <form method="POST" action="#" modelAttribute="applicant" th:action="@{/}" th:object="${applicant}">
        <h3>Личные данные</h3>
        <input th:field="*{id}" type="hidden"/>

        <label for="gender">Пол:</label>
        <select th:field="*{gender}" path="gender" id="gender" name="gender">
            <option value="Ж">Женский</option>
            <option value="М">Мужской</option>
        </select><br>

        <label for="surname">Фамилия:</label>
        <input value="Фамилия" th:field="*{surname}" type="text" size="40" id="surname" name="surname" required="required" />
        <p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname error</p>
        <br>

        <label for="name">Имя:</label>
        <input value="Имя" th:field="*{name}"  type="text" size="40" id="name" name="name" required="required"  />
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</p>
        <br>

        <label for="lastname">Отчество:</label>
        <input value="Отчество" th:field="*{lastName}" type="text" size="40" id="lastname" name="lastname" /><br>

        <label for="bDay">Дата рождения:</label>
        <input value="2020-03-31" th:field="*{bDay}" type="date" size="40" id="bDay" name="bDay" required="required" />
        <p th:if="${#fields.hasErrors('bDay')}" th:errors="*{bDay}">BDay error</p><br>

        <label for="income">Ежемесячный доход:</label>
        <input value="100" th:field="*{income}" type="number"  id="income" name="income" required="required" />
        <p th:if="${#fields.hasErrors('income')}" th:errors="*{income}">Income error</p><br>

        <label for="attPony">Как вы относитесь к пони:</label>
        <select  th:field="*{attPony}" id="attPony" name="attPony">
            <option value="Не очень">Не очень</option>
            <option value="Нравятся">Нравятся</option>
            <option value="Люблю их">Люблю их</option>
            <option value="Я - Сумеречная Искорка">Я - Сумеречная Искорка</option>
        </select><br>

        <label for="email">Email:</label>
        <input value="ponyachka@email.ru" th:field="*{email}" type="email" size="40" id="email" name="email" required="required"/>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</p><br>

        <label for="tel">Телефон для связи:</label>
        <input value="88005553535"  th:field="*{tel}" type="tel" size="40" id="tel" name="tel" required="required" />
        <p th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}">Tel error</p><br>


        <h3>Паспортные данные</h3>
        <label for="pasSer">Серия:</label>
        <input value="0000" th:field="*{pasSer}"  id="pasSer" name="pasSer" maxlength="4" placeholder="0000" type="text" required="required" />
        <p th:if="${#fields.hasErrors('pasSer')}" th:errors="*{pasSer}">pasSer error</p><br>

        <label for="pasNum">Номер:</label>
        <input value="000000" th:field="*{pasNum}"   id="pasNum" name="pasNum" maxlength="6" placeholder="000000" type="text" required="required" />
        <p th:if="${#fields.hasErrors('pasNum')}" th:errors="*{pasNum}">pasNum error</p><br>

        <label for="pasDay">Дата выдачи паспорта:</label>
        <input value="2002-03-31" th:field="*{pasDay}"  type="date" size="40" id="pasDay" name="pasDay" required="required" />
        <p th:if="${#fields.hasErrors('pasDay')}" th:errors="*{pasDay}">pasDay error</p><br>

        <label for="pasKem">Кем выдан:</label>
        <input value="отделением №" th:field="*{pasKem}"  type="text" size="40" id="pasKem" name="pasKem" required="required" />
        <p th:if="${#fields.hasErrors('pasKem')}" th:errors="*{pasKem}">pasKem error</p><br>

        <label for="pasKod">Код подразделения:</label>
        <input value="000-000" th:field="*{pasKod}"  type="text" size="40" id="pasKod" name="pasKod" placeholder="ХХХ-ХХХ" required="required" maxlength="7" />
        <p th:if="${#fields.hasErrors('pasKod')}" th:errors="*{pasKod}">pasKod error</p><br>

<br>
        <label for="agree">Настоящим выражаю ООО ИГОГО КБ "Понячка" согласие на обработку моих персональных данных.</label>
        <input  type="checkbox" value="1" id="agree" name="agree" required="required"/>
        <br>
        <input type="submit" value="ОТПРАВИТЬ">

    </form>

<footer>
    <p>Кредит на потребительские нужды и на погашение действующих потребительских кредитов в сторонних банках.
        Требования: гражданство Луны, постоянная регистрация на территории, стаж на последнем месте работы —
        от 3 месяцев, возраст заемщика — от 6 до 99 лет (максимальный возраст на момент окончания кредитного
        договора). При оформлении потребительского кредита с целью рефинансирования кредитов стороннего банка
        минимальная ставка составляет от 0,02 % годовых в рублях в случае страхования заемщиком жизни и здоровья
        одновременно с подписанием кредитного договора, минимальная ставка — от 0,01 % годовых в рублях в случае
        отсутствия страхования жизни и смерти (расторжения договора страхования жизни и здоровья).  При оформлении кредита на потребительские нужды
        минимальная ставка повышается на 3% от размера минимальной ставки потребительского кредита с целью
        рефинансирования кредитов стороннего банка. Максимальная ставка повышается на 100 % от размера максимальной
        ставки потребительского кредита с целью рефинансирования кредитов стороннего банка. Размер процентной ставки
        , сумма кредита (от 35 000 до 2 000 000 рублей для потребительского кредита с целью рефинансирования,
        от 50 000 до 3 000 000 рублей для потребительского кредита) и срок кредитования (от 1 дня до 10 000 лет)
        устанавливаются для каждого клиента индивидуально, в зависимости от уровня риска клиента, категории
        клиента и цели кредитования (рефинансирование или стандартный кредит наличными). Страхование жизни и
        риска потери трудоспособности является добровольно-принудительным. Комиссии при получении кредита наличными как правило отсутствуют.
        Смотря по настроению. Условия действительны до 31.03.2020. Подробная информация по телефону 8-800-755-35-35 и на
        сайте locallhost:8080. Почти не является публичной офертой. Бессовестная реклама. ООО ИГОГО КБ "Понячка".
        Генеральная лицензия Банка Луны № 666 от 31.03.2020</p>
    <h3>© 2020-2020 БАНК ПОНЯЧКА. Генеральная лицензия Банка Луны №666 выдана 31.03.2020</h3>
</footer>



</body>
</html>