<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Банк Понячка</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/CSS/styles.css"
          media="all" data-th-href="@{/CSS/styles.css}"/>
</head>
<body>
<header>
    <h2>ООО ИГОГО КБ "Понячка"</h2>
    <h3>Лучший понячий банк Санкт-Петербурга</h3>
</header>

<h2>Если вы хотите поделиться с нашим банком каким-нибудь файлом, вы можете отправить его здесь</h2>
<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>
<form method="POST" enctype="multipart/form-data" action="/">
    <input type="file" name="file" />
    <input type="submit" value="ОТПРАВИТЬ">
</form>
<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}" />
        </li>
    </ul>
</div>
<a href="/credit/" th:action="@{/credit/}" method="GET">Подать заявку на кредит</a>
<footer>
    <h3>© 2020-2020 БАНК ПОНЯЧКА. Генеральная лицензия Банка Луны №666 выдана 31.03.2020</h3>
</footer>
</body>
</html>